@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-brand-primary: #5521b5;
  --color-brand-secondary: #a26fff;
  --color-brand-inverted: #aade4a;
  --color-white: #ffffff;
  --color-black: #1f2937;
}

html {
  min-height: 100%;
}

body {
  margin-top: 55px;
}

.center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-this {
  margin: 0 auto;
}

.title-sm {
  font-weight: 700;
  font-size: smaller;
  color: var(--color-black);
}

.title-md {
  font-weight: 700;
  font-size: medium;
  color: var(--color-black);
}

.title-lg {
  font-weight: 800;
  font-size: large;
  color: var(--color-black);
}

.overflow-dot {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.row {
  display: flex;
  align-items: center;
}

/* only for react icon lib to fix size behaviour */
.react-icon {
  min-width: 20px;
  min-height: 20px;
}

button:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}

a:hover {
  opacity: 0.7;
  transition: 0.4s ease;
}
